*.env

D4-Helpdesk/helpdesk-data/
D4-Helpdesk/helpdesk-documentation/
D4-Helpdesk/scripts/results/

D2-Copyright/copyright-data/
D2-Copyright/meeting-transcripts/

*.ipynb
*.csv
*__pycache__
*.docx
*.pdf
*.txt
projects_report_template.md
*.json
*.yaml
*.yml
